<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Module Master
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Settings
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Module master
						</span>
					</a>
				</li>

			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
			 aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Close
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Reload
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon">
			<i class="flaticon-exclamation m--font-brand"></i>
		</div>
		<div class="m-alert__text">
			In module master, authorised user can manage modules for the application such as creating new module, updating existing module or deleteing existing module.
			User also get reports for modules in export menu in module list. 
		</div>
	</div>
	<!-- START TABLE PORTLET-->
	<div *ngIf="showTable" class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Module List
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" (click)="toggleTableAndForm('N',null);" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
							<span>
								<i class="la la-plus"></i>
								<span>
									New Module
								</span>
							</span>
						</a>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
						 aria-expanded="true">
							<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
								<i class="la la-ellipsis-h m--font-brand"></i>
							</a>
							<div class="m-dropdown__wrapper">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">
															New Module
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">
															Edit Module
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-multimedia-2"></i>
														<span class="m-nav__link-text">
															Delete Module
														</span>
													</a>
												</li>
												<li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">
															FAQ
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">
															Support
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
						<a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
							Export
						</a>
						<div class="m-dropdown__wrapper" style="z-index: 101;">
							<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 36px;"></span>
							<div class="m-dropdown__inner">
								<div class="m-dropdown__body">
									<div class="m-dropdown__content">
										<ul class="m-nav">
											<li class="m-nav__section m-nav__section--first">
												<span class="m-nav__section-text">
													Export Tools
												</span>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_print">
													<i class="m-nav__link-icon la la-print"></i>
													<span class="m-nav__link-text">
														Print
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_copy">
													<i class="m-nav__link-icon la la-copy"></i>
													<span class="m-nav__link-text">
														Copy
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_excel">
													<i class="m-nav__link-icon la la-file-excel-o"></i>
													<span class="m-nav__link-text">
														Excel
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_csv">
													<i class="m-nav__link-icon la la-file-text-o"></i>
													<span class="m-nav__link-text">
														CSV
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_pdf">
													<i class="m-nav__link-icon la la-file-pdf-o"></i>
													<span class="m-nav__link-text">
														PDF
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover" id="m_table_2">
				<thead>
					<tr>
						<th>
							SN
						</th>
						<th>
							ModuleName
						</th>
						<th>
							ModuleName OL
						</th>
						<th>
							EntityName
						</th>
						<th>
							ModuleSource
						</th>
						<th>
							Sequence No
						</th>
						<th>
							Status
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let moduleMenu of listOfModules; let i=index">
						<td>
							{{i+1}}
						</td>
						<td>
							{{moduleMenu.MODULE_NAME}}
						</td>
						<td>
							{{moduleMenu.MODULE_NAME_OL}}
						</td>
						<td>
							{{moduleMenu.ENTITY_NAME}}
						</td>
						<td>
							{{moduleMenu.MODULE_SOURCE}}
						</td>
						<td>
							{{moduleMenu.SEQ_NO}}
						</td>
						<td>
							{{moduleMenu.STATUS}}
						</td>
						<td>
							<!-- <span class="dropdown">
								<a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
									<i class="la la-ellipsis-h"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">
										<i class="la la-leaf"></i> Update Status
									</a>
									<a class="dropdown-item" href="#">
										<i class="la la-print"></i> Generate Report
									</a>
									<a class="dropdown-item" href="#">
										<i class="la la-edit"></i> Hide row
									</a>
								</div>
							</span> -->
							<a href="#" (click)="toggleTableAndForm('M',moduleMenu)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
								<i class="la la-edit"></i>
							</a>
							<a href="#" (click)="toggleTableAndForm('D',moduleMenu)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
								<i class="la la-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END TABLE PORTLET-->
	<!-- START FORM PORTLET-->
	<div *ngIf="showForm" class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{formTitle}}
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" (click)="toggleTableAndForm('',null);" class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
							<span>
								<i class="la la-arrow-circle-o-left"></i>
								<span>
									Back To List
								</span>
							</span>
						</a>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
						 aria-expanded="true">
							<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
								<i class="la la-ellipsis-h m--font-brand"></i>
							</a>
							<div class="m-dropdown__wrapper">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">
															Clear Fields
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">
															Close Form
														</span>
													</a>
												</li>
												<li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">
															FAQ
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">
															Support
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<form [formGroup]="ngForm" (ngSubmit)="saveUpdateDeleteModule(ngForm)" class="m-form m-form--fit m-form--label-align-right" id="m_form_1">
			<div class="m-portlet__body">
					<!-- <div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								Something went worng. Please, try to correct following error.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div> -->
				<div class="row">
					<div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
						<div class="form-group m-form__group">
							<label for="moduleNameIdField">
								Module Name <span style="color: red;">*</span>
							</label>
							<input type="text" [(ngModel)]="selectedModule.MODULE_NAME" 
								name="MODULE_NAME" formControlName="MODULE_NAME" 
								maxlength="25" class="form-control m-input m-input--square" 
								id="moduleNameIdField" aria-describedby="moduleNameHelp" 
								placeholder="Enter Module Name"
								[ngStyle]="{'border-color':!ngForm.controls['MODULE_NAME'].valid && ngForm.controls['MODULE_NAME'].touched ? 'red' : '#ebedf2' }">
								<!-- *ngIf="!ngForm.controls['MODULE_NAME'].valid && ngForm.controls['MODULE_NAME'].touched" -->
							<span class="m-form__help" 
								[ngStyle]="{'color':!ngForm.controls['MODULE_NAME'].valid && ngForm.controls['MODULE_NAME'].touched ? 'red' : '#575962' }">
								Pleae enter module name. eg: Library, Payroll etc
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="moduleNameOLIdField">
								Module Name OL
							</label>
							<input type="text" [(ngModel)]="selectedModule.MODULE_NAME_OL" 
								name="MODULE_NAME_OL" maxlength="25" 
								class="form-control m-input m-input--square" 
								id="moduleNameOLIdField" aria-describedby="moduleNameOLHelp" 
								placeholder="Enter Module Name in other language"
								formControlName="MODULE_NAME_OL">
							<span class="m-form__help">
								Enter module name in any other language. eg: लाइब्रेरी, पेरोल etc
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="entitySelectIdField">
								Entity <span style="color: red;">*</span>
							</label>
							<select [(ngModel)]="selectedModule.ENTITY_ID" name="ENTITY_ID" 
								formControlName="ENTITY_ID" class="form-control m-input m-input--square" 
								id="entitySelectIdField" 
								[ngStyle]="{'border-color':!ngForm.controls['ENTITY_ID'].valid && ngForm.controls['ENTITY_ID'].touched ? 'red' : '#ebedf2' }">
								<option disabled="true" value="" [ngValue]="" selected>
									Select Entity For Module
								</option>
								<option *ngFor="let entity of listOfEntity; let i=index" [ngValue]="entity.ENTITY_ID" >
									{{entity.ENTITY_NAME | titlecase}}
								</option> 
							</select>
							<span class="m-form__help"
							[ngStyle]="{'color':!ngForm.controls['ENTITY_ID'].valid && ngForm.controls['ENTITY_ID'].touched ? 'red' : '#575962' }">
								Pleae select from witch entity this module belongs
							</span>
						</div>
					</div>
					<div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
						<div class="form-group m-form__group">
							<label for="moduleSourceIdField">
								Module Source
							</label>
							<input type="text" [(ngModel)]="selectedModule.MODULE_SOURCE" 
								name="MODULE_SOURCE" maxlength="25" 
								class="form-control m-input m-input--square" 
								id="moduleSourceIdField" aria-describedby="moduleSourceHelp" 
								placeholder="Enter Module Source"
								formControlName="MODULE_SOURCE">
							<span class="m-form__help">
								Describe the source of module
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="moduleSeqNoIdField">
								Sequence No
							</label>
							<input type="text" [(ngModel)]="selectedModule.SEQ_NO" 
								name="SEQ_NO" maxlength="25" class="form-control m-input m-input--square" 
								id="moduleSeqNoIdField" aria-describedby="moduleSeqNoHelp" 
								placeholder="Enter Module Sequence No"
								formControlName="SEQ_NO">
							<span class="m-form__help">
								Enter sequence no for module
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="statusSelectIdField">
								Status <span style="color: red;">*</span>
							</label>
							<select [(ngModel)]="selectedModule.STATUS" name="STATUS" 
								formControlName="STATUS" class="form-control m-input m-input--square" 
								id="statusSelectIdField"
								[ngStyle]="{'border-color':!ngForm.controls['STATUS'].valid && ngForm.controls['STATUS'].touched ? 'red' : '#ebedf2' }">
								<option disabled="true" value="" [ngValue]="" selected>
									Select Status
								</option>
								<option *ngFor="let stat of statusArry; let i=index" [ngValue]="stat.value">
									{{stat.name}}
								</option>
							</select>
							<span class="m-form__help"
							[ngStyle]="{'color':!ngForm.controls['STATUS'].valid && ngForm.controls['STATUS'].touched ? 'red' : '#575962' }">
								Pleae select, module is active or inactive
							</span>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<div class="m-form__actions">
							<button type="submit" [disabled]="!ngForm.valid"  class="btn btn-outline-info m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
								{{submitBtnName}}
							</button>
							<button type="button" (click)="resetForm()" class="btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
								Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- END FORM PORTLET-->
</div>

<!-- <div  class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon">
			<i class="flaticon-exclamation m--font-brand"></i>
		</div>
		<div class="m-alert__text">
			In module master, authorised user can manage modules for the application such as creating new module, updating existing module or deleteing existing module.
			User also get reports for modules in export menu in module list. 
		</div>
	</div>
	
</div> -->
