<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				User Menu Master
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Settings
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							User menu master
						</span>
					</a>
				</li>

			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
			 aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Close
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Reload
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon">
			<i class="flaticon-exclamation m--font-brand"></i>
		</div>
		<div class="m-alert__text">
			In user menu master, authorised user can manage rights for menus of an application such as assiging menus to other user, updating existing rights for other users etc.
			Authorised User also get reports for menu rights given to other users in export menu in users menu list. 
		</div>
	</div>

	<!-- START TABLE PORTLET-->
	<div *ngIf="showTable" class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						User Menu Master
					</h3>
				</div>
			</div>
			<!-- <div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" (click)="toggleTableAndForm('N',null);" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
							<span>
								<i class="la la-plus"></i>
								<span>
									New Module
								</span>
							</span>
						</a>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
						 aria-expanded="true">
							<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
								<i class="la la-ellipsis-h m--font-brand"></i>
							</a>
							<div class="m-dropdown__wrapper">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">
															New Module
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">
															Edit Module
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-multimedia-2"></i>
														<span class="m-nav__link-text">
															Delete Module
														</span>
													</a>
												</li>
												<li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">
															FAQ
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">
															Support
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
						<a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
							Export
						</a>
						<div class="m-dropdown__wrapper" style="z-index: 101;">
							<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 36px;"></span>
							<div class="m-dropdown__inner">
								<div class="m-dropdown__body">
									<div class="m-dropdown__content">
										<ul class="m-nav">
											<li class="m-nav__section m-nav__section--first">
												<span class="m-nav__section-text">
													Export Tools
												</span>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_print">
													<i class="m-nav__link-icon la la-print"></i>
													<span class="m-nav__link-text">
														Print
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_copy">
													<i class="m-nav__link-icon la la-copy"></i>
													<span class="m-nav__link-text">
														Copy
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_excel">
													<i class="m-nav__link-icon la la-file-excel-o"></i>
													<span class="m-nav__link-text">
														Excel
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_csv">
													<i class="m-nav__link-icon la la-file-text-o"></i>
													<span class="m-nav__link-text">
														CSV
													</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="#" class="m-nav__link" id="export_pdf">
													<i class="m-nav__link-icon la la-file-pdf-o"></i>
													<span class="m-nav__link-text">
														PDF
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div> -->
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover" id="m_table_user">
				<thead>
					<tr>
						<th>SN</th>
						<th>User Code</th>
						<th>User Name</th>
						<th>Employee Name</th>
						<th>Department</th>
						<th>Designaton<!-- Branch  --></th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of listOfUsers; let i=index">
						<td>{{i+1}}</td>
						<td>{{user.prop2}}</td>
						<td>{{user.prop3}}</td>
						<td>{{user.prop5}}</td>
						<td>{{user.prop6}}</td>
						<td>{{user.prop7}}</td>
						<td>
							<a href="#" (click)="toggleTableAndForm('M',user)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
								<i class="la la-edit"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<!-- END TABLE PORTLET-->
	<!-- START FORM PORTLET-->
	<div *ngIf="showForm" class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{formTitle}}
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" (click)="toggleTableAndForm('',null);" class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
							<span>
								<i class="la la-arrow-circle-o-left"></i>
								<span>
									Back To List
								</span>
							</span>
						</a>
					</li>
					<li class="m-portlet__nav-item"></li>
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
							aria-expanded="true">
							<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
								<i class="la la-ellipsis-h m--font-brand"></i>
							</a>
							<div class="m-dropdown__wrapper">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">
															Clear Fields
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">
															Close Form
														</span>
													</a>
												</li>
												<li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">
															FAQ
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">
															Support
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-md-12 col-xl-12 col-sm-12 col-xs-12"> 
					<h6>User Info</h6>
					<hr>
					<div class="row">
						<div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
							<label>User Code</label>
							<p><b *ngIf="selectedUser.prop2; else labelNotFound">{{selectedUser.prop2}}</b></p>
							<label>User Name</label>
							<p><b *ngIf="selectedUser.prop3; else labelNotFound">{{selectedUser.prop3}}</b></p>
							<label>Employee Name</label>
							<p><b *ngIf="selectedUser.prop5; else labelNotFound">{{selectedUser.prop5}}</b></p>
						</div>
						<div class="col-md-6 col-xl-6 col-sm-12 col-xs-12">
							<label>Department</label>
							<p><b *ngIf="selectedUser.prop6; else labelNotFound">{{selectedUser.prop6}}</b></p>
							<label>Designation</label>
							<p><b *ngIf="selectedUser.prop7; else labelNotFound">{{selectedUser.prop7}}</b></p>
							<label>Branch</label>
							<div class="form-group m-form__group">
								<select [(ngModel)]="defaultBranchId" name="BRANCH_MST_ID" class="form-control m-input m-input--square" 
									id="branchMstIdField">
									<ng-container *ngFor="let branch of listOfUserBranchDetail; let i=index">
										<option  [ngValue]="branch.BRANCH_MST_ID" >
											{{branch.BRANCH | titlecase}}
										</option> 
									</ng-container>
								</select>
							</div>
						</div>
						<ng-template #labelNotFound>--Not Found--</ng-template>
					</div>
					<hr>
				</div>
			</div>
			<ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_module" role="tab">
						Modules List
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_menu" role="tab">
						Menu List
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_module" role="tabpanel">
					<div class="row">
						<div class="col-md-12 col-xl-12 col-sm-12 col-xs-12"><!-- style="display: block; min-height: 300px; max-height: 400px; overflow-y: auto" -->
							<div class="table-responsive" style="display: block; min-height: 200px; max-height: 300px; overflow-y: auto">
								<table class="table table-striped- table-bordered table-hover m_table_module" id="m_table_module" >
									<thead>
										<tr>
											<th>SN</th>
											<th>ModuleName</th>
											<th>isApproved</th>
										</tr>
									</thead>
									<tbody >
										<tr *ngFor="let module of listOfModules; let i = index">
											<td>{{i+1}}</td>
											<td>{{module.MODULE_NAME}}</td>
											<td style="text-align: center">
												<label class="m-checkbox m-checkbox--success m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{module.MODULE_CHKED}}" [(ngModel)]="module.IS_CHECKED" (change)="onModuleRightChange($event,module)">
													<span></span>
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="m_tabs_menu" role="tabpanel">
					<div class="row">
						<div class="col-md-12 col-xl-12 col-sm-12 col-xs-12"><!-- style="display: block; min-height: 300px; max-height: 400px; overflow-y: auto" -->
							<div class="table-responsive">
								<table class="table table-striped- table-bordered table-hover" id="m_table_menu" >
									<thead style="position: sticky;">
										<tr>
											<th rowspan="2" style="width:50px">SN</th>
											<th rowspan="2" style="width:100px">MenuName</th>
											<th rowspan="2" style="width:100px">ParentMenu</th>
											<th rowspan="2" style="width:100px">ModuleName</th>
											<th rowspan="2" style="width:100px">UserName</th>
											<th colspan="6" style="text-align: center" style="width:350px">Actions</th>
										</tr>
										<tr>
											<th style="width:50px" class="tbl-span-header">Add</th>
											<th style="width:50px" class="tbl-span-header">Modify</th>
											<th style="width:50px" class="tbl-span-header">Delete</th>
											<th style="width:50px" class="tbl-span-header">View</th>
											<th style="width:50px" class="tbl-span-header">Print</th>
											<th style="width:50px" class="tbl-span-header">Approve</th>
										</tr>
									</thead>
									<tbody style="max-height: 400px;overflow-y: auto;">
										<tr *ngFor="let menu of listOfMenus; let i = index">
											<td style="width:50px">{{i+1}}</td>
											<td style="width:100px">{{menu.MENU_NAME}}</td>
											<td style="width:100px">{{menu.PARENT_MENU}}</td>
											<td style="width:100px"><input type="hidden" [value]="menu.MODULE_ID" />{{menu.MODULE_NAME}}</td>
											<td style="width:100px">{{menu.USER_NAME}}</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--success m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_ADD}}" [(ngModel)]="menu.IS_ADURM_ADD">
													<span></span>
												</label>
											</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--brand m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_MOD}}" [(ngModel)]="menu.IS_ADURM_MOD">
													<span></span>
												</label>
											</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--danger m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_DEL}}" [(ngModel)]="menu.IS_ADURM_DEL">
													<span></span>
												</label>
											</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--accent m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_VIEW}}" [(ngModel)]="menu.IS_ADURM_VIEW">
													<span></span>
												</label>
											</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--warning m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_PRINT}}" [(ngModel)]="menu.IS_ADURM_PRINT">
													<span></span>
												</label>
											</td>
											<td style="width:50px" style="text-align: center">
												<label class="m-checkbox m-checkbox--focus m-checkbox--bold m-checkbox--square">
													<input type="checkbox" value="{{menu.ADURM_SPECIAL}}" [(ngModel)]="menu.IS_ADURM_SPECIAL">
													<span></span>
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-portlet__foot">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9">
					<a href="#" (click)="toggleTableAndForm('',null);" class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
						<span>
							<i class="la la-arrow-circle-o-left"></i>
							<span>
								Back To List
							</span>
						</span>
					</a>
					<button type="button" (click)="saveUpdateDeleteUserMenuRight()"  class="btn btn-outline-info m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
						{{submitBtnName}}
					</button>
					<button type="button" (click)="resetForm()" class="btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
						Reset
					</button>
				</div>
			</div>
		</div> 
	</div>
	<!-- END FORM PORTLET-->

</div>